{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "esmodules": true
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "snowpack/assets/babel-plugin.js"
  ]
}